<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlkj.user.mapper.UserMapper">

    <select id="list" resultType="com.hlkj.pojo.User">
        SELECT
            u.id as id,
            u.`username` as username,
            u.password as password,
            u.mobile as mobile
        FROM
        user u
    </select>

    <select id="getDetail" resultType="com.hlkj.pojo.User"
            parameterType="long">
        SELECT
            u.id as id,
            u.`username` as username,
            u.password as password,
            u.mobile as mobile
        FROM
        user u
        where u.id = #{id}
    </select>

    <select id="login" resultType="com.hlkj.pojo.User"
            parameterType="java.lang.String">
        SELECT
            u.id as id,
            u.`username` as username,
            u.password as password,
            u.mobile as mobile
        FROM
        user u
        where u.`username` = #{username}
        and u.password = #{password}
    </select>

</mapper>